// Trickster overrides

// override !important from theme to apply uppercase to name
.navbar-brand > .text-uppercase {
    text-transform: capitalize !important;
    position: relative;
    top: 2px;
}

.td-navbar .td-search-input {
    background: #fff;
    border: 1px #ddd solid;
}

.td-navbar .navbar-brand {
    max-width: 70px;
}

@media only screen and (min-width: 320px) {
    .navbar-logo {
        display: block;
    }
}

@media only screen and (min-width: 760px) {
    .navbar-logo {
        display: inline-block;
    }
}

.mr-4, .mx-4{
    margin-right: .75rem !important;
}

@media only screen and (min-width: 992px) {
    .mr-4, .mx-4{
        margin-right: 1.5rem !important;
    }
}

// main landing page

.td-cover-block--height-full {
    min-height:200px;
}

.td-main #td-cover-block-0 {
    background: rgb(51,102,153);
}

.td-overlay--dark::after {
    background-color: transparent;
}

.td-navbar-cover {
    background: $primary !important;
}

.td-navbar-cover .nav-link {
    text-shadow: none;
}

.td-box--5 {
    background-color: #d9d9d9;
}

.logo-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .logo {
        width: 15%;
        max-width: 180px;
        max-height: 180px;
        object-fit: contain;
        min-width: 150px;
        padding: 1rem 2rem;
    }
}

.td-box--3 {
    background-color: #E6FFFE;
    p > a {
        color: #044DB4;
        &:hover {
            color: $secondary;
        }
    }
}


// Left nav

.td-sidebar-nav a {
    &:hover {
        color: $secondary;
    }
}

// Right nav

.td-toc #TableOfContents {
    a {
        color: $gray-800;
        &:hover {
            color: $trickster-blue;
            text-decoration: none;
        }
    }
}

a {
    color: $trickster-blue;
}

.main a {
    color: $trickster-dark-blue;
}

// override default to reach an accessible contrast ratio
.text-muted {
    color: #575757 !important;
}

.alert-primary {
    border-color: $trickster-blue;
    .alert-heading {
        color: $trickster-blue;
    }
}

.pageinfo-primary {
    border-color: $trickster-light-blue;    
}

// remove extraneaous horizontal rule that causes a double line on some pages above feedback section
.panel-line {
    display: none;
}

.feedback--title {
    border-top: 1px solid #ddd;
    padding-top: 1rem;
    margin-top: 1rem;
}

footer {
    min-height: fit-content;
    a {
        color: lighten($trickster-light-blue, 35%);
        &:hover {
            color: lighten($secondary, 30%);
        }
    }
}

.copyright-info {
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.td-box--2 {
    background-color: $gray-800;
}

.td-box--1 .container p {
    line-height: 2rem;
}

.td-box--4 p > a {
    color: $trickster-blue;
}

// 404 page styles

.td-404 main {
    max-width: 1000px;
    margin: auto;
    #title {
       padding-top: 2rem;
    }
    ul {
        padding-bottom: 2rem;
    }
}

