// Trickster overrides

// override !important from theme to apply uppercase to name
.navbar-brand>.text-uppercase {
    text-transform: capitalize !important;
    position: relative;
    top: 2px;
}

.td-navbar .td-search-input {
    background: #fff;
    border: 1px #ddd solid;
}

// main landing page
.td-main #td-cover-block-0 {
    background: rgb(51,102,153);
}

.td-overlay--dark::after {
    background-color: transparent;
}

.td-navbar-cover {
    background: $primary !important;
}

.td-navbar-cover .nav-link {
    text-shadow: none;
}


// Left nav

.td-sidebar-nav a {
    &:hover {
        color: $secondary;
    }
}

// Right nav

.td-toc #TableOfContents {
    a {
        color: $gray-800;
        &:hover {
            color: $trickster-blue;
            text-decoration: none;
        }
    }
}

a {
    color: $trickster-blue;
}

footer {
    a {
        color: lighten($trickster-light-blue, 30%);
        &:hover {
            color: lighten($secondary, 30%);
        }
    }
}

.alert-primary {
    border-color: $trickster-blue;
    .alert-heading {
        color: $trickster-blue;
    }
}

.pageinfo-primary {
    border-color: $trickster-light-blue;    
}