{{/* Override of Docsy's footer center column: Trickster copyright, docs
     license and Linux Foundation trademark notice, in place of Docsy's
     copyright, privacy policy and About links. */ -}}
<div class="copyright-info">
  <small>&copy; {{ .Site.Params.copyright }} {{ now.Year }} | Documentation Distributed under CC-BY-4.0</small>
  <p>
    <small>&copy; {{ now.Year }} The Linux Foundation. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage">Trademark Usage</a> page.</small>
  </p>
</div>
