{{/* Override Docsy's GitHub edit/issue links. Docs content is synced from
     the trickster repo (see scripts/sync-docs.sh), so PRs against this repo's
     page files would be overwritten. Keep only the print-section link. */}}
{{ if .Path }}
{{ with .CurrentSection.AlternativeOutputFormats.Get "print" }}
<div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
<a id="print" href="{{ .Permalink | safeURL }}"><i class="fa fa-print fa-fw"></i> {{ T "print_entire_section" }}</a>
</div>
{{ end }}
{{ end }}
