{{ define "main"}}
    <main id="main">
      <div>
       <h1 id="title">Hm...we couldn't find that page.</h1>
       <p>You might find the following resources helpful: </p>
        <ul>
          <li><a href="{{ "/" | relURL }}">Trickster Home</a></li>
          <li><a href="{{ "/docs/" | relURL }}">Trickster Documentation</a></li>
          <li><a href="https://github.com/trickstercache/trickster">Trickster on GtiHub</a></li>
          <li><a href="https://github.com/trickstercache/trickstercache.org">Trickster Documentation on GtiHub</a></li>
        </ul>
        
      </div>
    </main>
{{ end }}
