/* trickster blue #336699 */

.md-header__topic {
    color: #444;
    font-weight: bold;
}

[data-md-color-scheme="trickster"] {
    /* trickster general theme colors */
    --md-primary-fg-color:        #444;
    --md-primary-fg-color--light: #e8f5fa;
    --md-primary-fg-color--dark:  #292b2b;
    --md-default-fg-color--light: #444;   

     /* link color */
    --md-typeset-a-color:     hsla(198, 99%, 29%, 1);
    /* hover state on links */
    --md-accent-fg-color:  rgb(111, 75, 33);
}

.md-header {
    background-color: #dff1f9;
}

h1 {
    color: var(--md-default-fg-color--light);
}

.md-header .md-icon svg {
    fill: #444;
}

/* Search input */
.md-search__input {
    background-color: white;
    color: #444;
}

.md-search__input:hover {
    background-color: hsla(0, 0%, 100%, 0.899);
}

.md-search__input::placeholder {
  color: var(--md-default-fg-color--light);
}

.md-header__source {
color: #444;}

.md-footer-copyright {
    color: #cdcdcd;
}

article img {
    display: block;
    margin: auto;
}

figcaption {
    font-size: .8rem;
    line-height: 1rem;
}
