+++
title = "Trickster"
linkTitle = "Trickster"

+++

{{< blocks/cover title="Trickster" wordmark="branding/logos/trickster-wordmark.svg" image_anchor="top" height="full" color="blue" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary me-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fa-solid fa-circle-arrow-right ms-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary me-3 mb-4" href="https://github.com/trickstercache/trickster">
		Download <i class="fa-brands fa-github ms-2"></i>
	</a>
	<p class="lead mt-5">Speed up your applications with Trickster’s HTTP reverse proxy caching and dashboard query accelerator for time series databases.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/lead color="primary" >}}
<img class="lead-logo" src="/branding/logos/trickster-logo.svg" alt="Trickster" height="125" width="125">
Trickster 2.x is a fully-featured HTTP Reverse Proxy Cache for applications like static file servers and web APIs. It has dozens of features for a variety of use cases including an ALB, time series DB acceleration, byte range caching, request rewriting and rules-based routing. Check out the docs to see the full bag of tricks.
{{< /blocks/lead >}}

{{< blocks/section color="dark" type="row" >}}
{{% blocks/feature icon="fa-solid fa-rocket" title="Dashboard efficiency" %}}
Improve your dashboard chart rendering times by eliminating redundant computations.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-box-open" title="Customizable" %}}
Create custom request routing and rewriting with Trickster's rules engine.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-satellite-dish" title="Optimize response time" %}}
Trickster features a powerful Application Load Balancer for Time Series and generic HTTP endpoints.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section type="row" >}}
<div class="col">
	<h2 class="text-center">Dedicated to Open Source</h2>
	<p class="text-center">Trickster is hosted by the <a href="https://cncf.io">Cloud Native Computing Foundation (CNCF)</a> as a sandbox level project. If you are a company that wants to help shape the evolution of technologies that are container-packaged, dynamically-scheduled and microservices-oriented, consider joining the CNCF.</p>
</div>

{{< /blocks/section >}}

{{< blocks/section type="row" >}}

<div class="col-12 logo-container">
	<img class="logo" alt="Comcast logo" src="/branding/logos/external/comcast.svg">
	<img class="logo" alt="Hostinger logo" src="/branding/logos/external/hostinger.png">
	<img class="logo" alt="The Remote Company logo" src="/branding/logos/external/remote-company.svg">
	<img class="logo" alt="Oracle Cloud logo" src="/branding/logos/external/oracle.png">
	<img class="logo" alt="Selfnet logo" src="/branding/logos/external/selfnet.png">
	<img class="logo" alt="Swarmstack logo" src="/branding/logos/external/swarmstack.png">
</div>

{{< /blocks/section >}}
